.container {
  background-color: rgb(235, 235, 235);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.content {
  max-width: 1280px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 50px;

  .name {
    font-family: "Pixelify Sans";
    font-size: 30px;
    cursor: pointer;
    color: black;
    padding: 10px;
    max-width: 100px;
  }
  .link {
    text-decoration: none;
  }
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    cursor: pointer;
    .navbtn {
      font-family: "Jost", sans-serif;
      border: 1px solid transparent;
      padding: 10px;
      border-radius: 50px;
      font-size: 20px;
      transition: 0.5s;
      color: black;
    }
    .navbtn:hover {
      background-color: #00A480;
      color: white;
      border-color: transparent;
      transition: 0.5s;
    }
  }
}

.counter_empty{
  display: none;
  transition: 1s;
}

.icons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  display: flex;
  position: relative;
  .counter{
    font-family: 'Poppins', sans-serif;
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: #00A480;
    color: white;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
