.container{
  max-width: 1280px;
  width: 100%;
  display: flex;
  flex-direction: column;


  .favcard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
    border: 1px solid transparent;
    padding: 20px;
    align-items: center;
    background-color: rgb(156, 156, 156);
    .left{
      display: flex;
      flex-direction: row;
      max-width: 500px;
      align-items: center;
      gap: 20px;
      img{
        width: 100px;
        border-radius: 10px;
      }
    }
  }
}